; Remove the following line to activate the plugin
Disabled

MapFile=/Users/vmorilla/devel/next/next-point/build/next-point.map

; Add an additional range
; AddRange=0x6600 - 0x6610

; Add a mempoint: if there is an attempt to write the right value in the memory address, stop
MemPoint=0x2222,0xb7